body {
  margin:0;
  font-family:Arial;
}

main {margin: 0 50px;}

.navbar {
  overflow: hidden;
  padding: .5em 4.3em 0 2em;
  background-color:#fff;
}

#home {width: 180px;}

.navbar a:not(:first-child) {float: right;}

.navbar a {
  float: left;
  display: block;
  color: #9fb0b7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.active {
  color: #0abffe !important;
  background-color: #fff;
  border-bottom: 3px solid #0abffe;
}

.navbar .icon {display: none;}

.navbar a:hover {
  background-color: #fff;
  color: #0abffe;
}

.input-search {
  width: 100%;
  box-sizing: border-box;
  border: 2px #ccc;
  font-size: 1em;
  background-color: #f3f6f7;
  background-image: url(/assets/img/search_logo.png);
  background-size: 1.4em 1.4em;
  background-position: 50px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 115px;
}

#form-search-bar { margin: 0 -3em; }

.info-text {color:#9fb0b7;font-weight:bold;}

#dropdowns {margin-bottom: 40px;}

#year-dropdown-wrap {
  display:inline-block;
  margin-right: 7em;
}

#genre-dropdown-wrap {display:inline-block;}

#year-dropdown, #genre-dropdown {
  border: 1px solid rgba(136, 136, 136, .4);
  border-radius: 3px;
  font-size: 1em;
  color: #9fb0b7;
  font-weight: bold;
  height: 2.2em;
}

#year-dropdown {padding: 0 3em 0 .5em;}

#genre-dropdown {padding: 0 7em 0 .5em;}

.movie-card {
  width: 47%;
  height: 17.2em;
  border: 1px solid rgba(136, 136, 136, .4);
  box-shadow: 1px 1px 2px rgba(136, 136, 136, .7);
  overflow: hidden;
  display:inline-block;
  margin-right: 2em;
  margin-bottom: 1.5em;
}

.movie-image {
  float: left;
  clear: left;
  margin-right: 8px;
}

.movie-image img {width: 11.6em;}

/*movie-text-left*/
.mt-l {
  float: left;
  margin-left:10px;
  width: 55%;
}

/*movie-text-right*/
.mt-r {float:right;margin-right:15px}

.movie-description {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.movie-description:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.movie-description:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.trailer-btn {
  color: rgb(10, 191, 254);
  padding: 6% 12%;
  text-decoration: none;
  border: 2px solid rgba(10, 191, 254, .7);
  border-radius: 5px;
}

.trailer-btn:before {
    content: "Ver Trailer";
}

.favs-btn {
  color:#9fb0b7;
  text-decoration: none;
  background-image: url(/assets/img/heart_icon.png);
  background-size: 1.3em 1.3em;
  background-position: 140px; 
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 1px 1.5em 2px 2px;
  cursor: pointer;
}

.favs-btn:before {
  content: "Agregar a favoritos";
}

.clear {clear:both;}

.pagination {
  padding-left:30%;
  display: block;
  margin-bottom: 4em;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1306px) {
  .movie-card {font-size: 95%;width: 45%;}
  .mt-l {width: 45%;}
  .trailer-btn {padding: 6% 5%;}
  .favs-btn {background-size: 1.2em 1.2em; padding: 1px 2em 2px 2px;}
}

@media screen and (max-width: 1125px) {
  .movie-card {
    font-size: 100%;
    width: 100%;
    height: 17.2em;
    margin-right: 0;
  }
  .mt-l {width: 61%;}
  .trailer-btn {padding: 6% 15%;}
}

@media screen and (max-width: 740px) {
  .movie-card {
    font-size: 95%;
  }
  .mt-l {width: 50%;}
  .trailer-btn {padding: 6% 8%;}
}

@media screen and (max-width: 622px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    height: 1em;
  }
  .navbar a.icon:hover { background-color:#fff; }
  
  #home {width: 160px;}
  .mt-l {width: 43%;}
  .trailer-btn:before {content: "Trailer";}
  .favs-btn {
    background-position: 10px; 
    padding: 1px 2em 2px 2px;
  }
  .favs-btn:before {content: "";}
}

@media screen and (max-width: 622px) { 
  .navbar {
    padding: 0;
  }
  
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navbar.responsive a {
    float: none;
    text-align: left;
    display: block;
  }
  
  #year-dropdown, #genre-dropdown {
    height: 1.5em;
    padding: 0 1em 0 .2em;
  }
}

@media screen and (max-width: 520px) {
  .navbar {padding: 0;}
  
  #home {width: 120px;}
  
  .input-search {
    font-size: .8em;
    background-position: 15px 10px; 
    padding: 12px 20px 12px 40px;
  }
  
  #year-dropdown-wrap {margin-right: 4em;}
  
  #dropdowns {
    font-size: 84%;
  }
  
  .movie-card {
    height: 100%;
    width: 100%;
    padding: 0;
  }
  
  .movie-image img {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    margin-left: 4px;
  }
  
  .mt-l {width:77%;}
  .trailer-btn {margin: 0 0 0 10%;}
  .pagination { padding-left:0}
}

@media screen and (max-width: 320px) {
  .navbar { padding: 0; }
  
  .navbar .icon svg {
    height: 15px;
    width: 15px;
    position: absolute;
    right: .5em;
  }
  
  #home { width: 86px; }
  
  .input-search {
    font-size: .8em;
    background-image: 15px 10px; 
    padding: 12px 20px 12px 40px;
    white-space: nowrap;
    text-indent: 100%;
    overflow:hidden;
  }
  
  .mt-l {width:74%;}
}